h1 {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	margin: 40px 0px 70px;
	text-align: center;
}
	
div#DetailsPanel {
background-color: rgb(216, 191, 216);
float: right;
	width: 80%;
	height: 80vh;
	overflow: auto;
}

div#NavigationPanel {
background-color: white;
	float: left;
	width: 20%;
	height: 40vh;
	overflow: auto;
}

div#FooterPanel {
background-color: rgb(216, 191, 216);
	height: 10vh;
	width: 100%;
	margin-bottom: -10px;
	margin-top: -8px;
	clear: both;
}
#HeaderPanelKinoAdministration {
	width: 100%;
	margin-bottom: 1px;
	margin-top: -8px;
	background-color: rgb(216, 191, 216);
}