/** Add css rules here for your application. */
/** Example rules used by the template application (remove for your app) */
h1 {
	font-family: 'Raleway', sans-serif;
	font-size: 3em;
	font-weight: semi-bold;
	color: #000000;
	text-align: center;
}

div#Header {
	
}

div#Footer {
	border-top: 5px dotted #656565;
}

div#DetailsPanel {
	float: right;
	position: relative;
	width: 100%;
	height: 80vh;
	overflow: auto;
}

div#MenuBar {
	float: right;
	width: 60px;
	right: 15px;
	padding: 20px;
	top: 0px;
	margin-top: -8px;
	margin-right: 0px;
	margin-bottom: 1px;
	margin-colour: #979799 !important;
}

.gwt-DateBox {
	padding: 5px 4px;
	border: 1px solid #000000;
	border-top: 1px solid #999;
	font-size: 100%;
	font-family: 'Raleway', sans-serif !important;
	font-size: 20px !important;
}

.gwt-DateBox input {
	width: 8em;
}

.dateBoxFormatError {
	background: #ffcccc;
}

.dateBoxPopup {
	
}

.FlexTable {
	border-top: thin solid #444444;
	border-left: thin solid #444444;
	border-right: thin solid #111111;
	border-bottom: thin solid #111111;
	background-color: #FFE7EA;
}

.FlexTable-OddRow {
	background-color: #cccccc;
}

.FlexTable-EvenRow {
	background-color: #505050;
}

.FlexTable-ColumnLabel {
	color: white;
	padding: 3px;
}

.FlexTable-ColumnLabelCell {
	border-width: 0 0 1px 0;
	border-style: solid;
	border-color: white;
	margin: 0;
	padding: 0;
	text-align: center;
}

.FlexTable-Cell {
	border-width: 0px 0px 0px 1px;
	border-style: solid;
	border-color: white;
	padding: 5px;
}

.gwt-Button {
	background: #a6a5a7 !important;
	background-image: -webkit-linear-gradient(top, #a6a5a7, #f9ecd2)
		!important;
	background-image: -moz-linear-gradient(top, #a6a5a7, #f9ecd2) !important;
	background-image: -ms-linear-gradient(top, #a6a5a7, #f9ecd2) !important;
	background-image: -o-linear-gradient(top, #a6a5a7, #f9ecd2) !important;
	background-image: linear-gradient(to bottom, #a6a5a7, #f9ecd2)
		!important;
	-webkit-border-radius: 28 !important;
	-moz-border-radius: 28 !important;
	border-radius: 28px !important;
	font-family: 'Raleway', sans-serif !important;
	font-size: 16px !important;
	font-weight: bold;
	color: #363536 !important;
	padding: 13px !important;
	text-decoration: none !important;
}

.gwt-Button:hover, .gwt-Button:focus {
	background: #f9ecd2 !important;
	background-image: -webkit-linear-gradient(top, #f9ecd2, #a6a5a7)
		!important;
	background-image: -moz-linear-gradient(top, #f9ecd2, #a6a5a7) !important;
	background-image: -ms-linear-gradient(top, #f9ecd2, #a6a5a7) !important;
	background-image: -o-linear-gradient(top, #f9ecd2, #a6a5a7) !important;
	background-image: linear-gradient(to bottom, #f9ecd2, #a6a5a7)
		!important;
	text-decoration: none !important;
}

.gwt-ListBox {
	font-family: 'Raleway', sans-serif !important;
	font-size: 20px !important;
}

.gwt-TextBox {
	font-family: 'Raleway', sans-serif !important;
	font-size: 20px !important;
}

.gwt-Label {
	font-family: 'Raleway', sans-serif !important;
	font-size: 20px !important;
	font-weight: bold;
}

.flexTable td {
	font-family: 'Raleway', sans-serif !important;
	font-size: 20px !important;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-weight: bold;
	background: transparent;
}

.UmfragePanel {
	border: 3px bold black;
	margin-top: 10px !important;
	margin-bottom: 10px !important;
	margin-left: 10px !important;
	margin-right: 10px !important;
	background: #ebe9f1 !important;
	float: left;
}

#planerbutton {
	font-weight: bold;
	font-style: black;
	font-size: 25px !important;
	font-family: 'Raleway', sans-serif;
}

#adminbutton {
	font-weight: bold;
	font-style: black;
	font-size: 25px !important;
	font-family: 'Raleway', sans-serif;
}

#headerPanelKinoadministration {
	width: 100%;
	margin-bottom: 0px;
	margin-top: -8px;
}

#headerPanelKinobesuchsplanung {
	width: 100%;
	margin-bottom: 0px;
	margin-top: -8px;
}

#TitelElemente {
	font-family: 'Raleway', sans-serif;
	font-size: 30px !important;
	font-weight: semi-bold;
	color: #000000;
}

#Umfragename {
	font-family: 'Raleway', sans-serif;
	font-size: 24px !important;
	font-weight: semi-bold;
	color: #000000;
}

#NutzerButton {
	font-size: 35px !important;
}

#GruppeButton {
	font-size: 35px !important;
}

#LogoutButton {
	font-size: 35px !important;
}